#--- Shutter $(N) ----------------------------------------
record(bo, "$(P):SHUTTER$(N):ENABLE") {
  field(DESC, "Shutter $(N) enable")
  field(ZNAM, "Disabled")
  field(ONAM, "Enabled")
  field(VAL,  "1")
  field(PINI, "1")
}

record(bi, "$(P):SHUTTER$(N):INITIAL") {
  field(DESC, "Shutter $(N) initial state")
  field(ZNAM, "Closed")
  field(ONAM, "Open")
}


